<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">アカウント</h1>
    </div>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "hyper-link" %><br>
    <div>
    <%= link_to(users_rename_path, method: :get) do %>
    <%= "#{@user.name}：" %>
    <% end %>
    <%= link_to "ユーザー名を変更する", users_rename_path, class: "hyper-link" %>
    </div><br>
    <%= link_to(edit_user_path, method: :get) do %>
      <% if @user.image.attached? %>
        <%= image_tag @user.image, class: "image-s" %>
      <% else %>
        <%= image_tag 'latte-art.jpg', class: "image-s" %>
      <% end %>
    <% end %>
    <%= link_to "記録したときの画像を変更する", edit_user_path, class: "hyper-link" %>
    <%= link_to "アカウントを削除する", user_registration_path, method: :delete, data: { confirm: "アカウントを削除しますか？" }, class: "hyper-link" %>
    <%# <%= link_to "パスワードを変更する(実装予定)", new_user_password_path, class: "hyper-link" %>
  </div>
</main>
