<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">記録</h1>
    </div>

    <%# 最近の7日のlogを、１日あたりの達成率で表示する %>
    <div class="summary">
      <%= "計画「１日#{@plan.target}回、#{@plan.trigger}#{@plan.habit}」" %>
    </div>
    <table border="1" width=100%>
      <thead>
        <tr>
          <% 7.times do |i| %>
            <td> <%= i + 1 %> </td>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @ratios.each do |ratio| %>
              <td> <%= ratio %> </td>
          <% end %>
        </tr>
      </tbody>
    </table>
    <%= render "shared/log" %>
  </div>
</main>
