<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">習慣の計画</h1>
    </div>
    <% if @plans.present? %>
      <% @plans.each do |plan| %>
        <div class="plan">
          <%= link_to(plan_path(plan.id), method: :get, class: "plan-main") do %>
              <div>
                1日<%= "#{plan.target}回、#{plan.trigger}" %>
              </div>
              <div>
                <%= plan.habit %>
              </div>
          <% end %>
          <%= link_to(new_plan_log_path(plan.id), method: :get, class: "button") do %>
            <h2>記録</h2>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div class="plan">
        <%= link_to(new_plan_path, method: :get, class: "plan-main") do %>
        <div>
          (例)1日<%= "○回、日常的な行動をしたら" %>
        </div>
        <div>
          <%= "身につけたい習慣をする" %>
        </div>
        <% end %>
        <%= link_to(new_plan_path, method: :get, class: "button") do %>
          <h2>作成</h2>
        <% end %>
      </div>
    <% end %>
    <div class="plan-new">
      <%= link_to(new_plan_path, method: :get, class: "link") do %>
        <div class="plus">
          +
        </div>
      <% end %>
    </div>
  </div>
</main>
