<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">計画</h1>
    </div>
    <div class="plan">
      <div class="plan-main">
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>したとき
        </div>
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>できるか
        </div>
      </div>
      <div class="button">
        <h2>記録</h2>
      </div>
    </div>
      <%# 繰返s %>
    <div class="plan">
      <div class="plan-main">
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>したとき
        </div>
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>できるか
        </div>
      </div>
      <div class="button">
        <h2>記録</h2>
      </div>
    </div>
    <div class="plan">
      <div class="plan-main">
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>したとき
        </div>
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>できるか
        </div>
      </div>
      <div class="button">
        <h2>記録</h2>
      </div>
    </div>
    <div class="plan">
      <div class="plan-main">
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>したとき
        </div>
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>できるか
        </div>
      </div>
      <div class="button">
        <h2>記録</h2>
      </div>
    </div>
    <div class="plan">
      <div class="plan-main">
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>したとき
        </div>
        <div>
          <span><%= "「あいうえおかきくけこさしすせそたちつてと」" %></span>できるか
        </div>
      </div>
      <div class="button">
        <h2>記録</h2>
      </div>
    </div>
      <%# 繰返s %>
    <div class="plan-new">
      <div>
        +
      </div>
    </div>
  </div>
</main>