<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">達成率</h1>
    </div>
    <div class="achievement">
      Ave.<span class="average"><%= @scores.sum / @scores.size %></span>
    </div>
    <%= render "shared/table" %>
    <%= render "shared/plan" %>
    <%= link_to "計画を編集する", edit_plan_path(params[:id]), class: " hyper-link" %>
  </div>
</main>
