<%= render "shared/header" %>
<main>
  <div class="main">
    <div class="title-container">
      <h1 class="title">新規登録</h1>
    </div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :name %><br>
        <%= f.text_area :name, placeholder:"16文字以下", class:"textarea", autofocus: true, autocomplete: "name", maxlength:"16" %>
      </div>

      <div class="field">
        <%= f.label :email %><br>
        <%= f.email_field :email, placeholder:"必須", autocomplete: "email" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %><br>
        <%= f.password_field :password, placeholder:"半角英＋数字を含む", autocomplete: "new-password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br>
        <%= f.password_field :password_confirmation, placeholder:"再度入力", autocomplete: "new-password" %>
      </div><br />

      <div class="actions">
        <%= f.submit "　登録　" %>
      </div>
    <% end %><br>
    
    <%= render "users/shared/links"   %>
  </div>
</main>
